.heading
{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image
{
    width: 100%;
}
#start,#status
{
    font-size: 22px ;
}

.modal-dialog
{
    width: 90%;
}

.modal-dialog
{
    width: 90%;
}

.instructions_image
{
    display: inline-block;
    width: 45%;
}

h4
{
    background-color: #f5f5f5 ;
    line-height: 2;
    margin: 0px;
}
.button2{
    float: right;
    }
    
    .button_1{
    font-size: 20px;   
    font-family: monospace;
    }
    
    .footer{
        font-size: 20px;
        text-align: center;
        box-shadow: 10px 10px 10px goldenrod;
        bottom: 0;
        position: center;
        margin-bottom: 0px;
        width: 100%;
        background-color: aliceblue;
       margin: 0px;
      line-height: 3;

    }

    canvas{
        background-size: cover;
        background-position: center;
        padding: 25px ;

    }
